<ngx-slick-carousel class="main-slider slider carousel slide carousel-fade" data-bs-ride="carousel"
  [config]="slideConfig" id="Best-deals">
  <div ngxSlickItem class="slider-item " style="background-image:url('assets/images/3.png')">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
          <div class="slider-caption">
            <span class="lead">Winter Collection Sale </span>
            <h1 class="mt-2 mb-5"><span class="text-color">upto 70% off* </span>on everything</h1>
            <a href="/shop" class="btn btn-main">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div ngxSlickItem class="slider-item" style="background-image:url('assets/images/4.png')">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
          <div class="slider-caption">
            <span class="lead">up to 70% off</span>
            <h1 class="mt-2 mb-5"><span class="text-color">Classic</span> Style</h1>
            <a href="/shop" class="btn btn-main">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ngxSlickItem class="slider-item" style="background-image:url('assets/images/6.png')">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
          <div class="slider-caption">
            <span class="lead">Buy 1 get 1 free</span>
            <h1 class="mt-2 mb-5"><span class="text-color">on Wooden</span> Toys</h1>
            <a href="/shop" class="btn btn-main">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div ngxSlickItem class="slider-item"
    style="background-image:url('assets/images/5.png'); background-position:50%;background-repeat:no-repeat;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
          <div class="slider-caption">
            <span class="lead">Trendy Toys</span>
            <h1 class="mt-2 mb-5"><span class="text-color">Just Updated </span>Stock</h1>
            <a href="/shop" class="btn btn-main">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ngx-slick-carousel>

<section class="category section pt-3 pb-0" id="New-Arrivals">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-12 col-md-6">
        <div class="cat-item mb-4 mb-lg-0">
          <img src="assets/images/toy_1.png" alt="" class="img-fluid">
          <div class="item-info">
            <p class="mb-0">Brain Shufflers</p>
            <h4 class="mb-4">up to <strong>50% </strong>off</h4>

            <a href="/shop" class="read-more">Shop now</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-12 col-md-6">
        <div class="cat-item mb-4 mb-lg-0">
          <img src="assets/images/toy_2.png" alt="" class="img-fluid">

          <div class="item-info">
            <p class="mb-0">Couple Toys</p>
            <h4 class="mb-4">up to <strong>40% </strong>off</h4>

            <a href="/shop" class="read-more">Shop now</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-12 col-md-6">
        <div class="cat-item">
          <img src="assets/images/toy_3.png" alt="" class="img-fluid">
          <div class="item-info">
            <p class="mb-0">Teddy Toys</p>
            <h4 class="mb-4">up to <strong>50% </strong>off</h4>

            <a href="/shop" class="read-more">Shop now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section products-main">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="title text-center">
          <h2>New arrivals</h2>
          <p>The best Online sales to shop these weekend</p>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
          <div class="product-wrap">
            <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/322.jpg"
                alt="product-img" /></a>
            <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/444.jpg"
                alt="product-img" /></a>
          </div>

          <span class="onsale">20% Off</span>
          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>

          <div class="product-info">
            <h2 class="product-title h5 mb-0"><a href="#">Mario</a></h2>
            <span class="price">
              &#8377; 220
            </span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
          <div class="product-wrap">
            <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/111.jpg"
                alt="product-img" /></a>
            <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/222.jpg"
                alt="product-img" /></a>
          </div>

          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>

          <div class="product-info">
            <h2 class="product-title h5 mb-0"><a href="#"> Bad Boy Toys</a></h2>
            <span class="price">
              &#8377; 300
            </span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
          <div class="product-wrap">
            <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/cute_1.jpg"
                alt="product-img" /></a>
            <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/cute_2.jpg"
                alt="product-img" /></a>
          </div>

          <span class="onsale">30% Off</span>
          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>

          <div class="product-info">
            <h2 class="product-title h5 mb-0"><a href="#">Official trendy</a></h2>
            <span class="price">
              &#8377; 110
            </span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
          <div class="product-wrap">
            <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/pika_1.jpg"
                alt="product-img" /></a>
            <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/pika_2.jpg"
                alt="product-img" /></a>
          </div>

          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>

          <div class="product-info">
            <h2 class="product-title h5 mb-0"><a href="#">Pikachu Toys</a></h2>
            <span class="price">
              &#8377; 250
            </span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
          <div class="product-wrap">
            <a href="#"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/teddy_1.jpg"
                alt="product-img" /></a>
            <a href="#"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/teddy_2.jpg"
                alt="product-img" /></a>
          </div>

          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>

          <div class="product-info">
            <h2 class="product-title h5 mb-0"><a href="#">Teddy Toys</a></h2>
            <span class="price">
              &#8377; 520
            </span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
          <div class="product-wrap">
            <a href="#"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/spinner_1.jpg"
                alt="product-img" /></a>
            <a href="#"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/spinner_2.jpg"
                alt="product-img" /></a>
          </div>

          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>

          <div class="product-info">
            <h2 class="product-title h5 mb-0"><a href="#">Spinner Toys</a></h2>
            <span class="price">
              &#8377; 480
            </span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5 ">
        <div class="product">
          <div class="product-wrap">
            <a href="#"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/robot_1.jpg"
                alt="product-img" /></a>
            <a href="#"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/robot_2.jpg"
                alt="product-img" /></a>
          </div>

          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>

          <div class="product-info">
            <h2 class="product-title h5 mb-0"><a href="#">Robot Toys</a></h2>
            <span class="price">
              &#8377; 540
            </span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5 ">
        <div class="product">
          <div class="product-wrap">
            <a href="#"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/animal_1.jpg"
                alt="product-img" /></a>
            <a href="#"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/animal_2.jpg"
                alt="product-img" /></a>
          </div>

          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>

          <div class="product-info">
            <h2 class="product-title h5 mb-0"><a href="#">Animal toys</a></h2>
            <span class="price">
              <!-- <del><pre wp-pre-tag-3="">&#8377; 600</pre></del> -->
              &#8377; 600
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /portfolio -->

<section _ngcontent-oix-c50="" class="ads section" style="
    height: 100%;
" id="Trendy-Toys">
  <div _ngcontent-oix-c50="" class="container">
    <div _ngcontent-oix-c50="" class="row align-items-center">
      <div _ngcontent-oix-c50="" class="col-lg-6 offset-lg-6">
        <div _ngcontent-oix-c50="" class="ads-content"><span _ngcontent-oix-c50="" class="h5 deal">Deal of December - 50%
            Off</span>
          <h2 _ngcontent-oix-c50="" class="mt-3 text-white">Trendy Toys</h2>
          <p _ngcontent-oix-c50="" class="text-md mt-3 text-white">Hurry up! Limited time offer.Grab ot now!</p>
          <div _ngcontent-oix-c50="" id="simple-timer" class="syotimer mb-5"></div><a _ngcontent-oix-c50="" href="/shop"
            class="btn btn-main"><i _ngcontent-oix-c50="" class="ti-bag mr-2"></i>Shop Now </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section products-list" id="Split-Section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-12 col-md-12">
        <img src="assets/images/teddy_toy.jpg" alt="Product big thumb" class="img-fluid w-100">
      </div>

      <div class="col-lg-4 col-sm-6 col-md-6">
        <div class="widget-featured-entries mt-5 mt-lg-0">
          <h4 class="mb-4 pb-3">Best sellers</h4>

          <div class="media mb-3">
            <a class="featured-entry-thumb" routerLink="/product-single">
              <img src="assets/images/p-1.jpg" alt="Product thumb" width="64" class="img-fluid mr-3">
            </a>
            <div class="media-body">
              <h6 class="featured-entry-title mb-0"><a href="#">Toy - Car</a></h6>
              <p class="featured-entry-meta"> &#8377; 150</p>
            </div>
          </div>

          <div class="media mb-3">
            <a class="featured-entry-thumb" href="#">
              <img src="assets/images/p-2.jpg" alt="Product thumb" width="64" class="img-fluid mr-3">
            </a>
            <div class="media-body">
              <h6 class="featured-entry-title mb-0"><a href="#">Teddy Bear - Orange Shirt</a></h6>
              <p class="featured-entry-meta"> &#8377; 120</p>
            </div>
          </div>

          <div class="media mb-3">
            <a class="featured-entry-thumb" href="#">
              <img src="assets/images/p-3.jpg" alt="Product thumb" width="64" class="img-fluid mr-3">
            </a>
            <div class="media-body">
              <h6 class="featured-entry-title mb-0"><a href="#">Wall Keeper</a></h6>
              <p> &#8377; 250</p>
            </div>
          </div>

          <div class="media mb-3">
            <a class="featured-entry-thumb" href="#">
              <img src="assets/images/p-4.jpg" alt="Product thumb" width="64" class="img-fluid mr-3">
            </a>
            <div class="media-body">
              <h6 class="featured-entry-title mb-0"><a href="#">Star war Special Edition</a></h6>
              <p class="featured-entry-meta"> &#8377; 780</p>
            </div>
          </div>

          <div class="media">
            <a class="featured-entry-thumb" href="#">
              <img src="assets/images/p-5.jpg" alt="Product thumb" width="64" class="img-fluid mr-3">
            </a>
            <div class="media-body">
              <h6 class="featured-entry-title mb-0"><a href="#">Big Star Teddy Top</a></h6>
              <p class="featured-entry-meta"> &#8377; 150</p>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-sm-6 col-md-6">
        <div class="widget-featured-entries mt-5 mt-lg-0">
          <h4 class="mb-4 pb-3">New Arrivals</h4>

          <div class="media mb-3">
            <a class="featured-entry-thumb" routerLink="/product-single">
              <img src="assets/images/p-7.jpg" alt="Product thumb" width="64" class="img-fluid mr-3">
            </a>
            <div class="media-body">
              <h6 class="featured-entry-title mb-0"><a href="#">Pom Pom</a></h6>
              <p class="featured-entry-meta"> &#8377; 99</p>
            </div>
          </div>

          <div class="media mb-3">
            <a class="featured-entry-thumb" href="#">
              <img src="assets/images/p-8.jpg" alt="Product thumb" width="64" class="img-fluid mr-3">
            </a>
            <div class="media-body">
              <h6 class="featured-entry-title mb-0"><a href="#">Logo - Superman and Batman</a></h6>
              <p class="featured-entry-meta"> &#8377; 150</p>
            </div>
          </div>

          <div class="media mb-3">
            <a class="featured-entry-thumb" href="#">
              <img src="assets/images/p-9.jpg" alt="Product thumb" width="64" class="img-fluid mr-3">
            </a>
            <div class="media-body">
              <h6 class="featured-entry-title mb-0"><a href="#">Complete Superheros Set [Limited]</a></h6>
              <p> &#8377; 999</p>
            </div>
          </div>

          <div class="media mb-3">
            <a class="featured-entry-thumb" href="#">
              <img src="assets/images/p-10.jpg" alt="Product thumb" width="64" class="img-fluid mr-3">
            </a>
            <div class="media-body">
              <h6 class="featured-entry-title mb-0"><a href="#">Batman on Wheels</a></h6>
              <p class="featured-entry-meta"> &#8377; 550</p>
            </div>
          </div>

          <div class="media">
            <a class="featured-entry-thumb" href="#">
              <img src="assets/images/p-4.jpg" alt="Product thumb" width="64" class="img-fluid mr-3">
            </a>
            <div class="media-body">
              <h6 class="featured-entry-title mb-0"><a href="#">Star Wars - New Edition</a></h6>
              <p class="featured-entry-meta"> &#8377; 880</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="features border-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="feature-block">
          <i class="tf-ion-android-bicycle"></i>
          <div class="content">
            <h5>Free Shipping</h5>
            <p>On all order over  &#8377; 999*</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="feature-block">
          <i class="tf-wallet"></i>
          <div class="content">
            <h5>10 Days Return</h5>
            <p>Money back Guarantee</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="feature-block">
          <i class="tf-key"></i>
          <div class="content">
            <h5>Secure Checkout</h5>
            <p>100% Protected</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="feature-block">
          <i class="tf-clock"></i>
          <div class="content">
            <h5>24/7 Support</h5>
            <p>All time customer support </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>