body {
    background: #000000c2 !important;
    font-family: "Muli", sans-serif;
  }
  h1 {
    color: rgb(0, 0, 0);
text-align: center;
    padding-bottom: 1rem;
    font-weight: bold;
  }
  a {
    color: #333;
  }
  a:hover {
    color: #080808;
    text-decoration: none;
  }
  .form-control:focus {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: 2px solid #e8d426;
    outline: 0;
    box-shadow: none;
  }
  
  .btn {
    background: #000000;
    border: #000000;
  }
  .btn:hover {
    background: #26e87d;
    border: #000000;
  }
  