<footer class="footer" id="footer-section">
    <div class="container">
      <div class="row">
            <div class="col-md-6 col-lg-4 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left mr-auto">
              <div class="footer-widget">
                      <h4 class="mb-4">Toy Star</h4>
                      <p class="lead">Get Toys for your Beloved Future</p>
                    
                    <div class="">
                        <p class="mb-0"><strong>Location : </strong>Gurugram ,INDIA</p>
                        <p><strong>Support Email : </strong> avtar20csu241@ncuindia.edu.in</p>
                    </div>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-2 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left">
                <div class="footer-widget">
                <h4 class="mb-4">Category</h4>
                <ul class="pl-0 list-unstyled mb-0">
                  <li><a href="#Best-deals">Best Deals</a></li>
                  <li><a href="#New-Arrivals">New Arrivals</a></li>
                  <li><a href="#Trendy-Toys">Trendy Toys</a></li>
                  <li><a href="#Split-Section">Best Sellers</a></li>
                  <li><a href="#Split-Section">New Arrivals</a></li>
                </ul>
            </div>
            </div>
  
            <div class="col-md-6 col-lg-2 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left">
                 <div class="footer-widget">
                <h4 class="mb-4">Useful Link</h4>
                <ul class="pl-0 list-unstyled mb-0">
                  <li><a href="#navbar">Go Up</a></li>
                  <li><a href="#footer-section">About Us</a></li>
                  <li><a href="#footer-section">Support</a></li>
                  <li><a href="#footer-section">Our Shop</a></li>
                  <li><a href="#footer-section">Contact Us</a></li>
                </ul>
                    </div>
            </div>
  
            <div class="col-md-6 col-lg-3 col-sm-6 text-center text-sm-left">
                 <div class="footer-widget">
                <h4 class="mb-4">Opening Hours</h4>
                <ul class="pl-0 list-unstyled mb-5">
                  <li class="d-lg-flex justify-content-between">Monday-Friday <span>08:00AM-08:00PM</span></li>
                  <li class="d-lg-flex justify-content-between">Saturday <span>10:00AM-06:00PM</span></li>
                  <li class="d-lg-flex justify-content-between">Sunday <span>CLOSED</span></li>
                </ul>
  
                <h5>Call Now : +(91) 8766-244-765</h5>
              </div>
            </div>
         </div>
    </div>
  </footer>
  
  
  <div class="footer-btm py-4 ">
    <div class="container">
      <div class="row ">
             <div class="col-lg-6">
                 <p class="copyright mb-0 ">&COPY;
                  Copyright Reserved to Avtar Singh &amp; made by <a href="https://therichpost.com/">Avtar Singh</a></p>
             </div>
             <div class="col-lg-6">
                  <ul class="list-inline mb-0 footer-btm-links text-lg-right mt-2 mt-lg-0">
                  <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                  <li class="list-inline-item"><a href="#">Terms &amp; Conditions</a></li>
                  <li class="list-inline-item"><a href="#">Cookie Policy</a></li>
                  <li class="list-inline-item"><a href="#">Terms of Sale</a></li>
                </ul>
             </div>
         </div>
    </div>
  </div>